@model IEnumerable<WebApplication.Models.Family>

@{
    ViewBag.Title = "Family";
}

<h2>@ViewBag.Title Dashboard</h2>

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressPostcode)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressArea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressPostcode)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FamilyId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Details", "Details", new { id = item.FamilyId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.FamilyId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
}
else
{
    <p>No family can be found, please create a family.</p>
}

