
@{
    ViewBag.Title = "Home";
}

<h2>Dashboard</h2>
@Html.ActionLink("Family Dashboard", "Index", "Family", new { area = "" }, new { @class = "btn btn-link" })
@Html.ActionLink("Parent Dashboard", "Index", "Parent", new { area = "" }, new { @class = "btn btn-link" })
@Html.ActionLink("Children Dashboard", "Index", "Children", new { area = "" }, new { @class = "btn btn-link" })
@Html.ActionLink("Meet Dashboard", "Index", "Meet", new { area = "" }, new { @class = "btn btn-link" })
@Html.ActionLink("Event Dashboard", "Index", "Event", new { area = "" }, new { @class = "btn btn-link" })
