@model WebApplication.Models.Child

@{
    ViewBag.Title = "Child details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Permission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Family.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family.ContactNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Family.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Family.AddressLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family.AddressLine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Family.AddressArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family.AddressArea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Family.AddressPostcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family.AddressPostcode)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back ", "Index", null, new { @class = "btn btn-warning" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChildrenId }, new { @class = "btn btn-danger" })
</p>
