
@{
    ViewBag.Title = "Index";
}

<h2>Club official</h2>
@Html.ActionLink("Children dashboard", "index", "Children")
@Html.ActionLink("Parent dashboard", "index", "Parent")
@Html.ActionLink("Family dashboard", "index", "Family")
@Html.ActionLink("Event dashboard", "index", "Event")
@Html.ActionLink("Meet dashboard", "index", "Meet")
@Html.ActionLink("Participant dashboard", "index", "Participant")

