@model IEnumerable<WebApplication.Models.Parent>

@{
    ViewBag.Title = "Parent";
}

<h2>@ViewBag.Title Dashboard</h2>

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
</p>

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family.ContactNumber)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Family.ContactNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ParentId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Details", "Details", new { id = item.ParentId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ParentId }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Archive", "Archive", new { id = item.ParentId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
}
else
{
    <p>No parent can be found, please create a parent.</p>
}

